/* css styles */
/* css styles */
html {
  direction:rtl;
}

.me-auto {
  margin-right: 0 !important;
}

#mc_embed_signup {background:#fff; false;clear:left; font:16px; width: 400px;}

.mc-field-group{
 font-family: var(--bs-body-font-family); 
}

#mc_embed_signup label {
  text-align: right;
}
